<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--Configurações de exibição (caracteres especiais/design responsivo)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Nome da Aba-->
    <title>D.Web-PHP</title>

    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">

    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io//favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io//site.webmanifest">
    
    <!--Toastfy-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    
    <!--CSS da página-->
    <link rel="stylesheet" href="../../static/css/login-register.css">

    <style>
        .toastify{
            box-shadow: none;
            font-size: clamp(0.5rem, 1vw, 1.2rem);
            border-radius: var(--radius);
            font-family: "Work Sans", sans-serif;
            font-weight: 600;
            min-width: 15%;
            justify-items: center;
        }
    </style>

</head>
<body>
    <!--Header-->
    <header class="header-container" id="header">
        <nav class="nav-container">
            <a class="logo" style="text-decoration: none; cursor: pointer; color: inherit;" href="/">
                <img src="/static/imgs/logo.png" alt="SpotListen" width="120px">
            </a>
        </nav>
    </header>

    <!--Conteudo-->
    <main>
        <section id="register-section" class="main-container hidden">
            <div class="form-container">
                <h1 class="title">Sign up</h1>

                <form class="form">
                    <div class="container">
                        <label class="label" for="register-Email">Email</label>
                        <input type="email" name="email" autocomplete="email" class="input" id="register-Email" placeholder="example@gmail.com">
                    </div>
                    <div class="container">
                        <label class="label" for="username">Username</label>
                        <input type="text" name="username" autocomplete="username" class="input" id="username">
                    </div>
                    <div class="container">
                        <label class="label" for="register-password">Senha</label>
                        <input type="password" name="password" class="input" id="register-password">
                    </div>
                    <div class="container">
                        <label class="label" for="confirm-password">Confirmar Senha</label>
                        <input type="password" name="confirm-password" class="input" id="confirm-password">
                    </div>

                    <div class="message">
                        <div id="register-message-container"></div>
                    </div>
                    <button class="sign">Cadastrar</button>
                </form>

                <p class="signup">Já possui um conta?
                    <a href="login.html" id="switch-to-login" class="">Sign in</a>
                </p>
            </div>
        </section>
    </main>

    <script>
        function showToast() {
            Toastify({
                text: 'login Realizado.',
                duration: 4000,
                gravity: "top",
                position: "right",
                backgroundColor: "#303F55",
            }).showToast();
        }
    </script>

    <script>
        function showToast(mensage) {
            Toastify({
                text: mensage,
                duration: 4000,
                gravity: "top",
                position: "center",
                backgroundColor: "#013504",
            }).showToast();
        }
        
        const regmessageContainer = document.getElementById('register-message-container');
        function showMessagereg(message, type) {
            regmessageContainer.textContent = message;
            regmessageContainer.className = `message-box ${type}`;
            regmessageContainer.style.display = 'block';
        }

        const registerForm = document.querySelector("#register-section .form");
        registerForm.addEventListener('submit', async (e) => { 
            e.preventDefault();

            const email = document.getElementById('register-Email').value.trim();
            const username = document.getElementById('username').value.trim();
            const password = document.getElementById('register-password').value.trim();
            const confirmPassword = document.getElementById('confirm-password').value.trim();

            // if (!password || !email || !username || !confirmPassword) {
            //     showMessagereg('Por favor, preencha todos os campos.', 'error');
            //     return;
            // }
            // if (username.length < 4) {
            //     showMessagereg('O nome de usuário deve ter no mínimo 4 caracteres.', 'error');
            //     return;
            // }
            // if (password.length < 8) {
            //     showMessagereg('A senha deve ter no mínimo 8 caracteres.', 'error');
            //     return;
            // }
            // if (password !== confirmPassword) {
            //     showMessagereg('As senhas não coincidem!', 'error');
            //     return;
            // }
            
            const data = {
                email: email, 
                username: username,
                password: password,
            };

            try {
                const response = await fetch('http://127.0.0.1:8131/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json' 
                    },
                    body: JSON.stringify(data) 
                });

                if (!response.ok) {
                    let errorMessage = 'Erro ao registrar usuário.';
                    try {
                        const errorData = await response.json();
                        errorMessage = errorData.message || errorMessage; 
                    } catch (e) {
                        errorMessage = `Erro do Servidor: Status ${response.status}`;
                    }
                    showMessagereg(errorMessage, 'error');
                    return;
                }

                showToast('CADASTRO REALIZADO!');
                setTimeout(() => { window.location.href = 'login.html'; }, 1500);

            } catch (error) {
                console.error('Erro na requisição:', error);
                showMessagereg('Erro de rede. Verifique a conexão com o servidor.', 'error');
            }
        });
    </script>
</body>
</html>